@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.full{
  background-image: url('../../public/emergencia.png');
  width:100%;
  height:500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}